body {
}
#head_content {
    margin-left: 35px;
    margin-top: 20px;
}
.btn{
    width:50px;
}
#table {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
#tr {
    background-color: aquamarine;
}

